---
layout: archive
---

{{ content }}

<p>
  I am a Ph.D. student in the School of Mathematical Sciences at Queen Mary, University of London, supervised by <a href="https://www.qmul.ac.uk/maths/profiles/fischerf.html" target="_blank">Felix Fischer</a>.
I work in Algorithmic Game Theory, Mechanism Design and Combinatorics. In particular I am interested in computational social choice theory and multiagent systems, 
I use tools from probablity and graph theory to look into questions on algorithmic fairness. 
I am always interested in areas to find new ideas and adapt old ones to new fields.
</p>
<p>
  My other interests include pondering on the ethics of technology and AI, more specifically the ethics of algorithmic decision making processes within government and tech companies, 
  and advocacy for transparency and accountablity when using said algorithms.
</p>
<p>
  I completed my MMath in Mathematics at University of Sheffield under the supervision of <a href="https://www.sheffield.ac.uk/maths/people/academic/neil-strickland" target="_blank">Neil Strickland</a>.
</p>

<h3 class="archive__subtitle">Publications</h3>

<p><small>
    <a href="https://arxiv.org/abs/2205.08979" target="_blank">Impartial Selection with Additive Guarantees via Iterated Deletion
    </a>
    <br>
    Javier Cembrano, Felix Fischer, David Hannon, Max Klimm
    <br>
    <a href="https://dl.acm.org/doi/10.1145/3490486.3538294" target="_blank">EC '22: Proceedings of the 23rd ACM Conference on Economics and Computation 2023</a><br>
    </p></small>
</p>

<p><small>
  <a href="https://www.sciencedirect.com/science/article/pii/S0899825624000095?via%3Dihub#ac0010" target="_blank">Impartial Selection with Additive Guarantees via Iterated Deletion
  </a>
  <br>
  Javier Cembrano, Felix Fischer, David Hannon, Max Klimm
  <br>
  <a href="https://www.sciencedirect.com/science/article/pii/S0899825624000095?via%3Dihub#ac0010" target="_blank">Games and Economic Behavior </a><br>
  </p></small>
</p>



<h3 class="archive__subtitle">Preprints</h3>





<h3 class="archive__subtitle">Academic History</h3>
<table><tbody>
  <tr>
    <td>Current</td>
    <td>
      Ph.D. in Mathematics at Queen Mary, University of London<br>
      Supervisor: <a href="https://www.qmul.ac.uk/maths/profiles/fischerf.html" target="_blank">Felix Fischer</a>
    </td>
  </tr>
  <tr>
    <td>2020</td>
    <td>
      MMath in Mathematics at the University of Sheffield<br>
      Supervisor: <a href="https://www.sheffield.ac.uk/maths/people/academic/neil-strickland" target="_blank">Neil Strickland</a><br>
    </td>
  </tr>
</tbody>
</table>

<h3 class="archive__subtitle">Talks</h3>
<p>
  <a href="https://www.qmul.ac.uk/maths/research/seminars/queen-mary-internal-postgraduate-seminar/" target="_blank">08/02/2024 - QUiPs Talk - A Brief History of Online Algorithms
  </a>
  <br>
  <a href="https://www.qmul.ac.uk/maths/research/seminars/queen-mary-internal-postgraduate-seminar/" target="_blank">20/10/2023 - QUiPs Talk - Mechanism Design and the Selection of Impartial Subsets
  </a>
  <br>
  <a href="https://www.lse.ac.uk/Mathematics/Events-and-Seminars/Seminar-and-PhD-Seminar-on-Combinatorics-Games-and-Optimisation" target="_blank">29/09/2023 - LSE Seminar Combinatorics, Games and Optimisation - A Brief History of Online Algorithms
  </a>
  <br>
  <a href="https://www.qmul.ac.uk/maths/research/seminars/combinatorics-study-group/" target="_blank">24/02/2023 - Queen Mary Combinatorics Study Group - Optimal Impartial Selection
  </a>
  <br>
  <a href="https://www.qmul.ac.uk/maths/research/seminars/queen-mary-internal-postgraduate-seminar/" target="_blank">09/02/2023 - QUiPs Talk - Algorithmic Mechanism Design and Impartial Selection Mechanisms
  </a>
</p>

<h3 class="archive__subtitle">Teaching</h3>
<p>
I have led seminars for the following modules.
</p>
<p>
2020/2021 - Introduction to Algebra
</p>
<p>
2020/2021 - Discrite Mathematics
</p>
<p>
2022/2023 - Linear Programming and Games
</p>
<p>
2023/2024 - Linear Programming and Games
</p>
<p>
I have marked for the following courses, as well as the above
</p>
<p>
2022/2023 - Random Processes
</p>


<h3 class="archive__subtitle">Collaborators</h3>

<p>
    <a href="https://www3.math.tu-berlin.de/disco/team/cembrano/" target="_blank">Javier Cembrano</a>
    <br>
    <a href="https://www.qmul.ac.uk/maths/profiles/fischerf.html" target="_blank">Felix Fischer</a>
    <br>
    <a href="https://www3.math.tu-berlin.de/disco/team/klimm/" target="_blank">Max Klimm</a>
</p>


<p>
    A big thank you to <a href="https://konradanand.github.io/" target="_blank">Konrad Anand</a> for this website template.
</p>


{% include paginator.html %}


