---
layout: archive
---

<meta name="google-site-verification" content="pPgmFcRn6VvUMMGqtTl0x2yqvxbiPbikKYIx7lEtlmc" />

{{ content }}

<p>
  I am a Ph.D. student in the School of Mathematical Sciences at Queen Mary University of London, supervised by <a href="https://webspace.maths.qmul.ac.uk/m.jerrum/" target="_blank">Mark Jerrum</a>.
  I work in probability, combinatorics, and algorithms. My major current focuses include sampling, randomized algorithms, and phase transitions.
<!--  I am affiliated with the <a href="https://web.inf.ed.ac.uk/ilcc" target="_blank">Institute for Language, Cognition and Computation (ILCC)</a>-->
<!--  within the <a href="https://www.ed.ac.uk/" target="_blank">School of Informatics</a>.-->
</p>
<p>
  I completed my <a href="https://arxiv.org/abs/2005.01242" target="_blank">M.Sc. in Computer Science</a> at McGill University under the supervision of Luc Devroye.
</p>

<h3 class="archive__subtitle">Publications</h3>

<p><small>
    <a href="https://arxiv.org/abs/2302.07821" target="_blank">Perfect Sampling of q-Spin Systems on Z2 via Weak Spatial Mixing</a>
    <br>
    Konrad Anand, Mark Jerrum
    <br>
    Submitted
    </p></small>
</p>

<p><small>
    <a href="https://arxiv.org/abs/2106.15992" target="_blank">Perfect Sampling in Infinite Spin Systems via Strong Spatial Mixing</a>
        <br>
    Konrad Anand, Mark Jerrum<br>
    <a href="https://epubs.siam.org/doi/10.1137/21M1437433" target="_blank">SICOMP 2022</a><br>
</p></small>


<h3 class="archive__subtitle">Academic History</h3>
<table><tbody>
  <tr>
    <td>Current</td>
    <td>
      Ph.D. in Mathematics at Queen Mary, University of London<br>
      Supervisor: <a href="https://webspace.maths.qmul.ac.uk/m.jerrum/" target="_blank">Mark Jerrum</a>
    </td>
  </tr>
  <tr>
    <td>2020</td>
    <td>
      M.Sc. in Computer Science at McGill University<br>
      Supervisor: <a href="http://luc.devroye.org" target="_blank">Luc Devroye</a>
    </td>
  </tr>
  <tr>
    <td>2018</td>
    <td>B.Sc. (Honours) in Mathematics at McGill University</td>
  </tr>
</tbody>
</table>

{% include paginator.html %}
